### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as py

# File to Load (Remember to Change These)
inputfile = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchasedata = pd.read_csv(inputfile)
purchasedata.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
playerscount= len(purchasedata["SN"].unique())
pymolipurchasedata = pd.DataFrame([playerscount], columns = ["Total Players"])
pymolipurchasedata

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# obtain number of unique items
itemsunique = len(purchasedata["Item Name"].unique())
itemsunique

179

In [4]:
#obtain average price
Avgprice = purchasedata["Price"].mean()
Avgprice

3.050987179487176

In [5]:
#totalprice

totalprice = purchasedata["Price"].sum()
totalprice

2379.77

In [6]:
# obtain number of items
numberitems = purchasedata["Item ID"].count()
numberitems

780

In [7]:
summary=pd.DataFrame({"Number of Unique Items ":[itemsunique],
                            "Average Price " : [Avgprice],
                            "Number of Items ": [numberitems],
                            "Total price " : [totalprice]})
summary

   Number of Unique Items   Average Price   Number of Items   Total price
0                      179        3.050987               780       2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
# total count of male players

totalcount = len(purchasedata["SN"].unique())
totalcount

576

In [9]:
# count of male 
countmale = purchasedata.groupby(['Gender']).get_group(('Male'))
countmale

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [10]:
#unique SN
countuniqueSN= len(countmale['SN'].unique())
countuniqueSN

484

In [11]:
#Get percentage male
percentmale= round((countuniqueSN/totalcount)*100,2)
percentmale

84.03

In [12]:
#count of female
countfemale = purchasedata.groupby(['Gender']).get_group(('Female'))
countfemale

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
767,767,Ilmol66,8,Female,92,Final Critic,4.88
775,775,Aethedru70,21,Female,60,Wolf,3.54

In [13]:
#count of unique female
fcountuniqueSN= len(countfemale['SN'].unique())
fcountuniqueSN

81

In [14]:
# get percetage female
percentfemale= round((fcountuniqueSN/totalcount)*100,2)
percentfemale

14.06

In [15]:
# count of non disclosed and other 
countother = purchasedata.groupby(['Gender']).get_group(('Other / Non-Disclosed'))
countother

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39
237,237,Idairin51,20,Other / Non-Disclosed,16,Restored Bauble,3.55
242,242,Eodaisu60,16,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
291,291,Idairin51,20,Other / Non-Disclosed,35,Heartless Bone Dualblade,3.45
350,350,Rairith81,15,Other / Non-Disclosed,34,Retribution Axe,2.22
401,401,Lirtim36,15,Other / Non-Disclosed,46,Hopeless Ebon Dualblade,1.33
484,484,Chanosian48,35,Other / Non-Disclosed,39,"Betrayal, Whisper of Grieving Widows",3.94
549,549,Maluncil97,25,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
629,629,Maluncil97,25,Other / Non-Disclosed,107,"Splitter, Foe Of Subtlety",2.18
637,637,Airi27,24,Other / Non-Disclosed,163,Thunderfury Scimitar,3.45
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10

In [16]:
#count of unique other 
othercountuniqueSN= len(countother['SN'].unique())
othercountuniqueSN

11

In [17]:
# percent other gender

percentother= round((othercountuniqueSN/totalcount)*100,2)
percentother

1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
# male purchase count
malepurchasecount=len(countmale)
malepurchasecount

652

In [19]:
# male average purchase price
averagemalepurchase=round((countmale["Price"].sum())/len(countmale["Price"]),2)
averagemalepurchase

3.02

In [20]:
# male total purchase price
totalmalepurchaseprice = round(countmale["Price"].sum())
totalmalepurchaseprice

1968.0

In [21]:
#female purchase count 
femalepurchasecount=len(countfemale)
femalepurchasecount

113

In [22]:
#female average purchase price
averagefemalepurchase=round((countfemale["Price"].sum())/len(countfemale["Price"]),2)
averagefemalepurchase

3.2

In [23]:
# female total purchase price
totalfemalepurchaseprice = round(countfemale["Price"].sum())
totalfemalepurchaseprice

362.0

In [24]:
# other purchase count
otherpurchasecount=len(countother)
otherpurchasecount

15

In [25]:
#other average purchase price
averageotherpurchase=round((countother["Price"].sum())/len(countother["Price"]),2)
averageotherpurchase

3.35

In [26]:
# other total purchase price
totalotherpurchaseprice = round(countother["Price"].sum())
totalotherpurchaseprice

50.0

In [27]:
#Create dataframe 
purchasebyGender = {"PurchaseCount":[malepurchasecount,femalepurchasecount,otherpurchasecount],
                    "Gender":["Male","Female","Other"],
                   "AveragePurchasePrice":[averagemalepurchase,averagefemalepurchase,averageotherpurchase],
                   "TotalPurchasePrice":[totalmalepurchaseprice,totalfemalepurchaseprice,totalotherpurchaseprice]}
purchasebyGenderdf = pd.DataFrame(purchasebyGender)
purchasebyGenderdf = purchasebyGenderdf.set_index("Gender")
purchasebyGenderdf

        PurchaseCount  AveragePurchasePrice  TotalPurchasePrice
Gender
Male              652                  3.02              1968.0
Female            113                  3.20               362.0
Other              15                  3.35                50.0

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [32]:
#Create bins
agebins = [0,10,14,19,24,29,34,39,46]
agelabels = ["Under 10","10-14","15-19","20-24","25-29","30-34","35-39","Over 40"]
purchasedata['Age Summary'] = pd.cut(purchasedata['Age'],agebins,labels= agelabels)

#Get purchase count and percentage  for each bin 

agebin0 = purchasedata.groupby(['Age Summary']).get_group(('Under 10'))
purchasecount0 = len(agebin0['SN'].unique())
percentbin0 = (purchasecount0/totalcount)*100

agebin1014 = purchasedata.groupby(['Age Summary']).get_group(('10-14'))
purchasecount1014 = len(agebin1014['SN'].unique())
percentbin1014 = (purchasecount1014/totalcount)*100

agebin1519 = purchasedata.groupby(['Age Summary']).get_group(('15-19'))
purchasecount1519 = len(agebin1519['SN'].unique())
percentbin1519 = (purchasecount1519/totalcount)*100

agebin2024 = purchasedata.groupby(['Age Summary']).get_group(('20-24'))
purchasecount2024 = len(agebin2024['SN'].unique())
percentbin2024 = (purchasecount2024/totalcount)*100

agebin2529 = purchasedata.groupby(['Age Summary']).get_group(("25-29"))
purchasecount2529 = len(agebin2529['SN'].unique())
percentbin2529 = (purchasecount2529/totalcount)*100

agebin3034 = purchasedata.groupby(['Age Summary']).get_group(("30-34"))
purchasecount3034 = len(agebin3034['SN'].unique())
percentbin3034 = (purchasecount3034/totalcount)*100

agebin3539 = purchasedata.groupby(['Age Summary']).get_group(("35-39"))
purchasecount3539 = len(agebin3539['SN'].unique())
percentbin3539 = (purchasecount3539/totalcount)*100

agebin40 = purchasedata.groupby(['Age Summary']).get_group(("Over 40"))
purchasecount40 = len(agebin40['SN'].unique())
percentbin40 = (purchasecount40/totalcount)*100


bincounts =[purchasecount0,
purchasecount1014,
purchasecount1519,
purchasecount2024,
purchasecount2529,
purchasecount3034,
purchasecount3539,
purchasecount40]

percentbin = [percentbin0,
percentbin1014,
percentbin1519,
percentbin2024,
percentbin2529,
percentbin3034,
percentbin3539,
percentbin40]

Summary = {"Age":agelabels,"TotalCount":bincounts,"Percentage":percentbin}
summarydf = pd.DataFrame(Summary)
summarydf

        Age  TotalCount  Percentage
0  Under 10          24    4.166667
1     10-14          15    2.604167
2     15-19         107   18.576389
3     20-24         258   44.791667
4     25-29          77   13.368056
5     30-34          52    9.027778
6     35-39          31    5.381944
7   Over 40          12    2.083333

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [43]:
# Top Senders
screenname = purchasedata.groupby(purchasedata["SN"])
screennameunique = screenname["SN"].unique()

# Purchasecount

screennamecount = screenname["Age"].count()

#Average Purchase Price
screennameaverage = round(screenname["Price"].mean())

#Total purchase price

screennametotal = screenname["Price"].sum()

topspend ={"Name":screennameunique,"purchasecount":screennamecount,
                 "Averageprice":screennameaverage,"Totalpurchasevalue":screennametotal}

topspenddf = pd.DataFrame(topspend)
topspenddf= topspenddf.set_index("Name")
topspenddf = topspenddf.sort_values("Totalpurchasevalue", ascending=False)
topspenddf
topspenddf.iloc[:5]

               purchasecount  Averageprice  Totalpurchasevalue
Name
[Lisosia93]                5           4.0               18.96
[Idastidru52]              4           4.0               15.45
[Chamjask73]               3           5.0               13.83
[Iral74]                   4           3.0               13.62
[Iskadarya95]              3           4.0               13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [44]:
#Item ID
itemid = purchasedata.groupby(purchasedata['Item ID'])
items = itemid['Item ID'].unique()
#Item Name

itemname = itemid["Item Name"].unique()

#Purchase Count
itempurchasecount = itemid['Age'].count()

#Item Price
itemprice= itemid['Price'].unique()


#Total Purchase Value
itemtotalpurchase = itemid['Price'].sum()

itemtable = {"Item ID":items,"Item Name":itemname,"Item Price":itemprice,"Item Count":itempurchasecount,
             "Total Purchase":itemtotalpurchase}
itemtabledf = pd.DataFrame(itemtable)
itemtabledf = itemtabledf.set_index("Item ID")
itemtabledf= itemtabledf.sort_values("Item Count", ascending=False)
itemtabledf

,Item Name,Item Price,Item Count,Total Purchase
Item ID,,,,
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",[4.23],12,50.76
[145],[Fiery Glass Crusader],[4.58],9,41.22
[108],"[Extraction, Quickblade Of Trembling Hands]",[3.53],9,31.77
[82],[Nirvana],[4.9],9,44.10
[19],"[Pursuit, Cudgel of Necromancy]",[1.02],8,8.16
...,...,...,...,...
[104],[Gladiator's Glaive],[1.93],1,1.93
[23],[Crucifer],[1.99],1,1.99
[180],[Stormcaller],[3.36],1,3.36
[91],[Celeste],[4.17],1,4.17
[134],[Undead Crusader],[4.5],1,4.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [45]:
mostprofitableitems= itemtabledf.sort_values("Total Purchase", ascending=False)
mostprofitableitems.iloc[:5]

,Item Name,Item Price,Item Count,Total Purchase
Item ID,,,,
[178],"[Oathbreaker, Last Hope of the Breaking Storm]",[4.23],12,50.76
[82],[Nirvana],[4.9],9,44.10
[145],[Fiery Glass Crusader],[4.58],9,41.22
[92],[Final Critic],[4.88],8,39.04
[103],[Singed Scalpel],[4.35],8,34.80